[features]
resolution = true
skip-lint = false

[programs.localnet]
n3roai_solana = "Fg6PaFpoGXkYsidMpWxTWqkZ7xw1i7hP5QZsM7hByX2s"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "echo \"No tests configured\""
